* {
  margin: 0;
  padding: 0;
  font-family: poppins;
}
/**************** Header ****************/
header {
  display: flex;
  justify-content: space-between;
  margin: 5px 100px;
}
.searchBar {
  margin-top: 12px;
}
input#searchbar {
  width: 24vw;
  padding: 15px;
  font-size: 18px;
}
img#searchIcon {
  position: relative;
  right: 30px;
}
.carts {
  margin: 30px;
}
img.cartIcon {
  margin-left: 15px;
}
img#lines {
  display: none;
}
hr {
  border: 1px solid #f1f1f1;
}
nav {
  margin: 5px 100px;
}
select {
  padding: 5px 10px;
  background-color: #f8f8f8;
}
a#Home {
  margin: 70px;
  text-decoration: none;
  color: black;
  font-size: 18px;
}
/************************* Home page ************************/
img.backgroundImg {
  width: 100%;
  margin-bottom: 30px;
}
.background {
  position: absolute;
  top: 28vh;
  margin: 5px 100px;
  color: white;
}
h1 {
  font-size: 50px;
  font-weight: 200;
}
span#bold {
  font-weight: bold;
}
p#paragraph1 {
  font-family: Heebo;
  font-weight: normal;
}
.BuyNowbutton {
  display: flex;
  margin: 15px;
}

button.buy {
  background-color: #ff4f04;
  border: 0;
  padding: 5px;
  border-radius: 10px;
  margin-right: 15px;
}
button.tradeIn {
  padding: 5px 20px;
  background-color: rgba(0, 0, 0, 0.1);
  border: 0;
  color: white;
}
.recommandedImg {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}
p#singleTour {
  font-family: popins;
  font-weight: 500;
  margin: 10px;
}
button#price {
  padding: 10px 12px;
  border-radius: 15px;
  border: 0;
  color: #ff4f04;
  background-color: #ff4f0424;
}
section.section-2 {
  margin-top: 40px;
}
img#tag {
  margin: 15px;
  width: 80%;
}
.topnav {
  background-color: #333;
  overflow: hidden;
}
/************** Footer ********************/
hr#footer-hr {
  margin: 10px 10px 15px;
}
p#right-reserved {
  color: #aeaeae;
  margin: 35px;
  font-size: 18px;
}
p#footer-email {
  font-family: popins;
  font-size: 18px;
}

/********************** SIgnup *****************************/
section.popup {
  background-color: rgba(0, 0, 0, 0.06);
  top: 0;
  bottom: 0;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 1;
}
.popup-inner {
  background-color: white;
  width: 40%;
  height: 45vw;
  margin: auto;
}
p.createHeading {
  font-size: 20px;
  text-align: center;
  font-weight: 500;
  font-family: poppins;
}
p.signUpParagraph {
  text-align: center;
  margin: 20px;
  font-family: poppins;
  color: #7d7d7d;
}
.popup-input {
  text-align: center;
}
input#inputBox {
  padding: 15px 40px;
  font-size: 18px;
  border-radius: 20px;
  border: 1px solid grey;
}
input#checkBox {
  width: 25px;
}
.checkBoxDiv {
  display: flex;
  justify-content: center;
  padding: 15px;
}
button.signUpButton {
  padding: 20px 60px;
  border-radius: 20px;
  border: 0;
  background-color: #efca00;
  margin: 15px;
}
a.loginLink {
  color: black;
  font-family: poppins;
  text-decoration: none;
  font-weight: 300;
}
a.loginLink:hover {
  color: rgb(120, 121, 87);
}
/********************** KidsWear **************************/
button#addButton {
  background-color: #efca00;
  border: 0;
  padding: 7px 28px;
  border-radius: 10px;
}
.cart {
  width: 80%;
  margin: 15px;
}
.button {
  display: flex;
  justify-content: space-between;
}
li.menu {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}
img.image {
  width: 100%;
}

/********************** Media Screen *********************/

@media screen and (max-width: 1300px) {
  .popup-inner {
    background-color: white;
    width: 40%;
    height: 65vw;
  }
  img#lines {
    display: inline;
    margin-left: 20px;
    width: 20%;
  }
  .background {
    position: absolute;
    top: 16vh;
    margin: 5px 50px;
    color: white;
  }
  input#searchbar {
    width: 15vw;
  }
  select {
    display: none;
  }
  a#Home {
    display: none;
  }

  .recommandedImg {
    display: grid;
    text-align: center;
    margin-top: 20px;
    grid-template-columns: repeat(2, 1fr);
  }
  h1 {
    font-size: 3vw;
  }
  p#paragraph1 {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  li.menu {
  display: grid;
  grid-template-columns: 34% 34% 34%;
}
  p.createHeading {
    font-size: 16px;
  }
  p.signUpParagraph {
    font-size: 13px;
  }

  input#inputBox {
    padding: 15px 30px;
    font-size: 14px;
  }
  .popup-inner {
    width: 50vh;
    height: 80vh;
  }
}
@media screen and (max-width: 600px) {
    li.menu {
  display: grid;
  grid-template-columns: 50% 50%;
}
  .popup-inner {
    width: 50vh;
    height: 85vh;
  }
  .searchBar {
    display: none;
  }
  header {
    display: flex;
    justify-content: space-around;
    margin: 0;
  }

  .background {
    position: absolute;
    top: 15vh;
    margin: 20px;
  }
  .BuyNowbutton {
    display: grid;
    margin: 15px;
    width: 50%;
  }

  .recommandedImg {
    grid-template-columns: repeat(1, 1fr);
  }
}
